
    .container, .container-fluid{
        margin-top: 10px;
    }
    div.ad-title{
        padding: 2em;
        background-size: cover;
        background-position: center center;
    }
    div.ad-title h1, div.ad-title p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    div.carousel-caption {
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    .image_border{
        border-radius: 20px;
        width: 90px;
    }
    #avatar{
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    .avatar{
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
    }
    .avatar-mini{
        max-width: 26px;
        max-height: 26px;
        margin-right: 2px;
    }
    .btn {
        border-radius: 20px;
    }
    .backtolist{
        margin-left: 6%;
    }
