{% extends "base.html.twig" %}
{% block title %} Vous n'avez pas le droit d'accéder à cette ressources !{% endblock %}
 !
{% block  body%}
   <div class="container">
       <h1 class="text-danger">Oups ! Alors !  Vous essayez d'accéder à une page que vous n'avez pas le droit !</h1>
       <p>Vous pouves retrouver à l'accueil ou voir le nos dernières annonces !</p>
       <a class="btn btn-primary" href="{{ path('home') }}">Retoutr à l'accueil</a>
   </div>
{% endblock %}
    